# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/
frontend/node_modules/

# Build and Temp
dist/
dist-app/
frontend/dist/
.vite/
*.exe
*.zip

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database
*.db
*.db-journal

# OS files
.DS_Store
Thumbs.db
